@import "tailwindcss";
@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

  input:focus {
    outline: none;
    border: none;
  }
}

.hover-items:hover {
  cursor: pointer;
  border-bottom: 1.5px solid #00C951;
}

/* @theme {
  --color-primary: #00C951;
  --color-secundary: #003044;
  --color-text-white: #ffffff;
} */