.react-datepicker__header {
  background-color: #ffffff !important;
  border-bottom: 0 !important;
}

.react-datepicker__day--selected {
  background-color: #52e376 !important;
  color: #fff;
}

/* .react-datepicker__day--keyboard-selected {
  border-radius: 50% !important;
  background-color: #59e77d !important;
  color: rgb(0, 0, 0);
} */

/* .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover {
  background-color: rgb(88, 144, 29) !important;
} */

.react-datepicker__day--outside-month {
  background-color: #f8f8f8 !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2rem !important;
  line-height: 1.8rem !important;
}

.react-datepicker__month-container {
  float: none;
  width: 100%;
}


.react-datepicker__time-container {
  width: 100px !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100% !important;
}